<div class="dashboard-container">
  <h1>Tableau de bord</h1>
  @if (isLoading) {
    <app-loader>Chargement des données...</app-loader>
  }
  
  <div *ngIf="!isLoading" class="dashboard-cards">
    <p-card styleClass="dashboard-card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-users"></i>
          <h3>Utilisateurs</h3>
        </div>
      </ng-template>
      <h2>{{ totalUsers }}</h2>
      <a routerLink="/users">Voir les utilisateurs</a>
    </p-card>
    
    <p-card styleClass="dashboard-card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-desktop"></i>
          <h3>Bornes d'arcade</h3>
        </div>
      </ng-template>
      <h2>{{ totalMachines }}</h2>
      <a routerLink="/arcade-machines">Gérer les bornes</a>
    </p-card>
    
    <p-card styleClass="dashboard-card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-play"></i>
          <h3>Jeux</h3>
        </div>
      </ng-template>
      <h2>{{ totalGames }}</h2>
      <a routerLink="/games">Voir les jeux</a>
    </p-card>
    
    <p-card styleClass="dashboard-card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <i class="pi pi-ticket"></i>
          <h3>Parties en cours</h3>
        </div>
      </ng-template>
      <h2>{{ activeParties }}</h2>
      <a routerLink="/parties">Voir les parties</a>
    </p-card>
  </div>
</div>